<header class="">
    <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mi Carta</a>
        <!--buton menu-->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--cuerpo menu-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenido</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <!--registro-inicio de sesion-->
            <div class="container text-center ">
              <!-- {{session["loggedin"]}} -->
              {% if session["loggedin"]%} 
                {%include 'helpers/detalleEmpresa.html'%}

              {% else %}
                {%include 'helpers/inicio-registrarse.html'%}
              {% endif %}
            
            </div>
  
            <!--Categorias-->
            <div class="container mx-auto">
              <div class="card border-0" >
                <div class="card-body">
                  <h5 class="card-title">Categorias</h5>
                  <ul class="list-group ">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Comidas rapidas
                      <span class="badge bg-primary rounded-pill   ">></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Comida mexicana
                      <span class="badge bg-primary rounded-pill">></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      comida japonesa
                      <span class="badge bg-primary rounded-pill">></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </nav>
</header>