{% extends "base.html" %}
{% block title %}Inicio de sesion{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/signin.css' ) }}" />
{%endblock%}

{% block content %}

<div class="card mx-auto " style="width: 60vh;">

  <div class="card-body text-center">
  {%include 'helpers/flash.html'%}

    <form class="form-signin" action="{{ url_for('inicioSesionForm') }}" method="POST">
      <img class="mb-4 img-form" src="/static/img/hamburguesa.png" alt="">
      <h1 class="h3 mb-3 fw-normal">Empresas</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="correo"  name="correo" placeholder="Correo Electronico">
        <label for="correo">Correo Electronico</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="contrasenia" id="contrasenia" placeholder="Contraseña">
        <label for="contrasenia">Contraseña</label>
      </div>


      <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesion</button>
      <hr class="my-2">
      <small class="text-muted">No tienes cuenta aun <a href="{{ url_for('registroEmpresa') }}">Registrate!!</a></small>


    </form>
    <a href="{{ url_for('home') }}">home!!</a>

  </div>
</div>



{% endblock %}